* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Sticky test */
body {
  /* overflow-x: hidden; */
  background: #eee;
}

/* ***************************** */
/******** Navigation Bar ********/
/* ***************************** */
#logo {
  font-weight: 500;
  letter-spacing: -2.5px;
  font-size: 3.5rem;
}

#logo--dot {
  color: #278036;
}

.logo-link:link,
.logo-link:hover,
.logo-link:visited,
.logo-link:active {
  text-decoration: none;
  color: #eee;
}

.nav-container {
  vertical-align: center;
  padding: 0 3rem 0 3rem;
}

.navbar {
  font-size: 1.5rem;
  background: #111;
  padding: 1rem 0 2rem 0;
}

.nav-links {
  margin-bottom: 0;
}

.nav-item {
  align-self: center;
}

.nav-link {
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
}

.btn-message:link,
.btn-message:visited {
  display: inline-block;
  font-weight: bold;
  color: #222;
  background-color: #eee;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: all ease-in 0.1s;
}

.btn-message:hover,
.btn-message:active {
  background-color: #278036;
  color: #eee;
}

ion-icon {
  vertical-align: middle;
}

.nav-link:link,
.nav-link:visited {
  /* placeholder css */
  color: #ddd;
  text-decoration: none;
  /* border-bottom: 1px solid #ddd; */
}

.nav-link:hover,
.nav-link:active {
  color: #87d69a;
  /* border-bottom: 1.5px solid #2fff00a9; */
}

.navbar {
  color: #ddd;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  gap: 3rem;
}

/* ***************************** */
/******** Hero Section ********/
/* ***************************** */

#name-bold {
  font-weight: bold;
  color: #222;
  font-size: 7rem;
  background: linear-gradient(80deg, #1773d1, #87d69a 90%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#shape-websites {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  color: white;
}

.hero--container {
  background: linear-gradient(210deg, #1773d1, #278036 80%);
  filter: blur(1);
  font-family: Poppins, sans-serif;
  padding-bottom: 3rem;
  /* margin-bottom: 7rem; */
}

.hero--tag-line {
  color: #eee;
}

.hero {
  max-width: 180rem;
}

.intro-container {
  align-self: start;
  justify-self: start;
  width: 100%;
  padding: 10rem 0rem 7rem 7rem;
  /* border-right: 3px dashed #22222231; */
}

.hero--main-intro {
  display: inline-block;
  height: 50%;
  width: auto;
  font-size: 6rem;
  padding: 2rem;
  color: white;
  font-weight: bold;
  background-color: #222;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 30px;
}

.intro-sub-text {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: start;
  font-size: 1.4rem;
  color: #ccc;
}

.sub-text {
  font-weight: 300;
  line-height: 3rem;
}

.hero--intro {
  color: #ccc;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 4rem;
}

.hero--intro-1 {
  font-size: 3rem;
  line-height: 5.5rem;
}

.hero--intro-2 {
  font-size: 1.6rem;
}

#profpic {
  width: 90%;
  filter: contrast(1.15);
}

#start:active,
#resume:active {
  transform: translateY(1.5px);
  box-shadow: none;
}

#start:active {
  background-color: #ddd;
}

#resume:active {
  background-color: #f58700;
}
.grid--2-cols {
  display: grid;
  margin: 0 auto;
  max-width: 170rem;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.hero--btns {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.btn {
  padding: 10px 40px 10px 40px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 20px;
  transition: all ease-in 0.2s;
}

.btn-resume:link,
.btn-resume:visited {
  color: #111;
  background-color: #eee;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.btn-resume:hover,
.btn-resume:active {
  color: #ddd;
  background-color: #222;
}

.btn-start:link,
.btn-start:visited {
  color: #ddd;
  background-color: #222;
}

.btn-start:hover {
  color: #ddd;
  background-color: #000;
}

.btn:hover {
  transform: translateY(-3.5px);
  box-shadow: 0px 5px 5px 0px #00000035;
}

.btn:active,
.btn-start:active {
  transform: translateY(1.5px);
  box-shadow: none;
  background-color: #ddd;
}

.hero--social-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.hero--social-links a:link,
.hero--social-links a:visited,
.hero--social-links a:hover,
.hero--social-links a:active {
  fill: #22222286;
}

.img-box {
  position: relative;
  z-index: 0;
}

.img-box::before {
  position: absolute;
  content: "";
  display: block;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding-bottom: 125%;
  border: 3px dashed #00000034;
  /* background-color: yellow; */
  z-index: -2;
}

.img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);

  width: 70%;
  padding-bottom: 125%;
  background-color: #22222244;
  z-index: -1;
}

.img-element {
  width: 70%;
  position: absolute;
  top: 60%;
  left: -30%;
  z-index: 1;
  filter: opacity(0.7);
  filter: hue-rotate(270deg);
}

/* ***************************** */
/******** About Section ********/
/* ***************************** */
#icons {
  margin-bottom: 1.5rem;
}

.about--bold-text {
  font-weight: bold;
  color: #278036;
}

.about--container {
  width: 100%;
  background: radial-gradient(40rem at -15rem -5%, #1773d1 0%, transparent),
    radial-gradient(60rem at 110% 100%, #f58700 0%, transparent);
  padding-top: 13rem;
  padding-bottom: 15rem;
}

.about--heading {
  grid-column: 1/-1;
  justify-self: start;
  align-self: start;
}

.sub-heading {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 0rem;
  background-color: #f58700;
  color: #030059;
}

.main-heading {
  margin-top: -15px;
  letter-spacing: -3px;
  font-size: 7rem;
  font-weight: bold;
  color: #222;
}

.grid--about {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  row-gap: 7rem;
  column-gap: 20rem;
}

.about--img-container {
  width: 100%;
  height: auto;
  align-self: end;
}

.about--img1 {
  position: relative;
  z-index: 1;
  transition: all ease-in 0.25s;
}

.about--img1:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 0 rgba(2, 2, 2, 0.3);
}

.about--img1::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60%;
  padding-bottom: 55%;
  z-index: -1;
  background-color: rgba(135, 214, 153, 0.344);
}

.about--img2 {
  position: relative;
  z-index: 1;
  transition: all ease-in 0.25s;
}

.about--img2:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 0 rgba(2, 2, 2, 0.3);
}

.about--img2::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60%;
  padding-bottom: 68%;
  z-index: -1;
  background-color: rgba(135, 214, 153, 0.344);
}

.about--desc1 {
  justify-self: end;
  position: relative;
}

.about--desc2 {
  justify-self: start;
  align-self: center;
  position: relative;
}
.about--desc2::after {
  content: "02";
  position: absolute;
  font-size: 8rem;
  top: -10%;
  left: 85%;
  font-weight: bold;
  color: hsla(0, 0%, 13%, 0.1);
}

.desc {
  font-size: 1.6rem;
  line-height: 2.5rem;
  justify-self: end;
  position: relative;
}

.about--desc1::after {
  content: "01";
  position: absolute;
  font-size: 8rem;
  top: -105%;
  left: 88%;
  font-weight: bold;
  color: hsla(0, 0%, 13%, 0.1);
}

.desc-first {
  font-size: 3rem;
  font-weight: bold;
}

.about--desc3,
.about--desc5 {
  justify-self: end;
  align-self: center;
  position: relative;
}

.about--desc5::after {
  content: "03";
  position: absolute;
  font-size: 8rem;
  top: -5%;
  left: 85%;
  font-weight: bold;
  color: hsla(0, 0%, 13%, 0.1);
}

.about--desc4 {
  justify-self: start;
}

.about--desc6 {
  justify-self: start;
}

.img-grad {
  width: 100%;
}

/* ***************************** */
/******** Project Section ********/
/* ***************************** */
.projects--container {
  background: #222;
  overflow: hidden;
}

.grid--projects {
  margin: 0;
  /* max-width: 130rem; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1fr 5fr;
}

.projects--heading {
  grid-row: 2/3;
  grid-column: 1;
  max-width: 130rem;
  justify-self: center;
  margin-top: 1.8rem;
}

.main-heading2 {
  color: #ddd;
  margin-top: -15px;
  letter-spacing: -3px;
  font-size: 7rem;
  font-weight: bold;
}

.projects {
  grid-row: 3/-1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all ease-in 0.2s;
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 0;
}

.first-proj {
  background-color: yellow;
  transition: all ease-in 0.1s;
  background-image: url(images/proj.jpg);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  filter: grayscale(1);
  position: relative;
}

.proj-text {
  height: 20rem;
  width: 100%;
  background-color: #22222288;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 0%;
  filter: opacity(0.5);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2rem;
  transition: all ease-in 0.1s;
}

.proj-text h2 {
  margin: 1rem 0;
}

.proj-text p {
  /* max-width: fit-content; */
}

.tag {
  display: inline-block;
  padding: 0em 0.3em;
  margin-left: 0.2em;
  border-radius: 100px;
}

.html-tag {
  background-color: #ffa500;
}

.css-tag {
  background-color: rgb(0, 128, 255);
}

.boot-tag {
  background-color: #800080;
}

.js-tag {
  background-color: #ffff00;
  color: #000000;
}

.mongo-tag {
  background-color: #008000;
  color: black;
}

.express-tag {
  background-color: #555;
}

.node-tag {
  background-color: #adff2f;
  color: #000000;
}

.react-tag {
  background-color: #5aadff;
  color: black;
}

.other-proj a:link,
.other-proj a:visited {
  color: #2bd553;
}

.other-proj a:hover,
.other-proj a:active {
  color: #87d69a;
}
.main-heading3 {
  font-size: 3rem;
  color: #eeeeee6c;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}

.first-proj:hover .proj-text,
.second-proj:hover .proj-text,
.third-proj:hover .proj-text {
  filter: none;
  transform: translateY(-100px);
}

.third-proj:hover .proj-text {
  padding-right: 6rem;
}

.first-proj:hover {
  filter: grayscale(0);
  transform: scale(1.3);
  z-index: 5;
}

.second-proj {
  background: url(images/proj2.png);
  position: relative;
  background-size: cover;
  filter: grayscale(1);
  transition: all ease-in 0.1s;
}

.second-proj:hover {
  transform: scale(1.3);
  filter: grayscale(0);
  z-index: 5;
}

.third-proj {
  filter: grayscale(1);
  background: url(images/proj3.png);
  transition: all ease-in 0.1s;
  background-size: cover;
  background-position: top 40px;
  position: relative;
}

.third-proj:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}

.other-projects {
  background: linear-gradient(210deg, #1773d1, #278036 80%);
  grid-column: 2/3;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.other-proj {
  display: flex;
  padding: 0;
  width: 90%;
  height: 12rem;
  background-color: #22222250;
  color: #eee;
  transition: all ease-in 0.3s;
}

.other-proj:hover {
  background-color: #222222b4;
}

.other-proj img {
  width: 50%;
  height: 100%;
}

.other-proj div {
  padding: 1rem;
  width: 90%;
}

.other-proj p {
  font-size: 1.15rem;
}

/* Skills section */
.skills--container {
  margin: 0 auto;
  padding: 12rem 0;
  background: radial-gradient(60rem at 0% -15%, #278036 0%, transparent);
}

.skills--grid {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
}

.skills--heading {
  justify-self: center;
  margin-bottom: 6rem;
}

.skill-box--grid {
  justify-self: center;
  max-width: 150rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-box {
  background: linear-gradient(180deg, #2780363d, lightgreen);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  transition: all ease-in 0.2s;
}

.skill-box img {
  width: 70%;
  height: 100%;
  padding: 0rem;
}

.skill-box:hover {
  transform: translateY(-1rem);
}

.skill {
  max-width: 130px;
  height: auto;
}

.css-logo {
  max-height: 120px;
  width: auto;
}

/* Contact me section */
.contact-me--container {
  margin-top: 8rem;
  padding-top: 0rem;
  background: url(images/contact.png);
  background-size: cover;
  filter: hue-rotate(320deg);
  opacity: 0.9;
}

.contact-me--grid {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
}

.contact-me--heading {
  grid-row: 1/2;
  justify-self: start;
  padding: 2rem;
}

.contact-me--form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 2rem;
  gap: 1rem;
  margin: 5rem 0;
  width: 60%;
  background-color: #222222e4;
}

.contact-me--form-container label {
  font-size: 2rem;
  color: #eee;
}

.contact-me--form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.text-field-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-field-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-me--form-container input,
textarea {
  font-size: 1.5rem;
  width: 100%;
  height: 2rem;
  background-color: #111;
  outline: none;
  border: none;
  color: #eee;
  padding: 2rem;
}

form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 0rem;
  padding: 2rem;
  /* margin-top: 5rem; */
  text-align: center;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  transition: all ease-in 0.3s;
  /* background: linear-gradient(180deg, rgba(255, 255, 0, 0.5), green); */
}

form input[type="submit"]:hover {
  background-color: #eee;
  color: #222;
}

textarea {
  width: auto;
  height: auto;
  resize: none;
}

.contact-me--form-container p {
  color: #eee;
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Footer section */
.footer--container {
  height: 30rem;
  padding: 0 2rem;
  background: linear-gradient(180deg, #87d69a, transparent);
  border-top: 1px solid #278036;
}

.footer--grid {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.email-add {
  padding-right: 2rem;
}

.quick-links {
  padding-left: 3rem;
  border-left: 0.5px solid #2222224a;
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.footer--links {
  display: flex;
  flex-direction: column;
}

.footer--links h2 {
  font-weight: bold;
}

.footer--links a:link,
.footer--links a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.footer--social-links {
  align-self: end;
}

/* Media Queries */

@media (max-width: 103em) {
  .contact-me--grid {
    max-width: 60%;
  }

  .proj-text {
    padding: 2rem;
    top: 70%;
    left: 0%;
  }

  .proj-text p {
    padding-left: 3rem;
  }

  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }
  textarea {
    font-size: 1.5rem;
    width: 30rem;
    height: 13rem;
  }

  .about--desc1::after {
    top: -123%;
  }
}

@media (max-width: 93em) {
  .about--desc1::after {
    top: -130%;
  }
}

@media (max-width: 1460px) {
  .about--desc1::after {
    top: -150%;
  }
  .main-heading2,
  .main-heading {
    font-size: 6rem;
  }

  .other-proj div {
    overflow-y: scroll;
  }
}

@media (max-width: 1400px) {
  .main-heading2,
  .main-heading {
    font-size: 6rem;
  }

  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }
  textarea {
    font-size: 1.5rem;
    width: 25rem;
    height: 13rem;
  }
}

@media (max-width: 86em) {
  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }
  textarea {
    font-size: 1.5rem;
    width: 25rem;
  }

  .about--desc1::after {
    top: -177%;
    left: 83%;
  }

  .about--desc2::after {
    top: -20%;
    left: 80%;
  }

  .about--desc5::after {
    top: -13%;
    left: 78%;
  }
}

@media (max-width: 1330px) {
  .about--desc1::after {
    top: -185%;
  }
}

@media (max-width: 1275px) {
  .about--desc1::after {
    top: -210%;
  }

  .about--desc2::after {
    top: 0%;
  }
}

@media (max-width: 1250px) {
  .about--desc1::after {
    top: -235%;
  }
}

@media (max-width: 1220px) {
  .about--desc1::after {
    top: -245%;
  }
}

@media (max-width: 1228px) {
  .hero--img-container {
    justify-self: end;
    display: flex;
    justify-content: center;
  }

  .img-box {
    width: 75%;
  }

  .hero--main-intro {
    height: 10%;
    font-size: 4rem;
    padding: 2rem;
    color: white;
    font-weight: bold;
    background-color: #222;
  }

  #name-bold {
    font-size: 5rem;
  }

  .hero--intro-1 {
    font-size: 2rem;
    line-height: 5.5rem;
  }

  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }

  textarea {
    font-size: 1.5rem;
    width: 25rem;
  }
}
@media (max-width: 1200px) {
  .proj-text {
    padding: 2rem;
    top: 70%;
    left: 0%;
  }

  .proj-text h2 {
    font-size: 1.4rem;
  }

  .proj-text p {
    padding-left: 3rem;
  }
}

@media (max-width: 1185px) {
  /* .grid--2-cols {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    gap: 0;
  } */

  .hero--img-container {
    justify-self: center;
  }

  .main-heading2,
  .main-heading {
    font-size: 5.5rem;
  }
  .sub-text {
    font-size: 1.2rem;
  }

  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }

  textarea {
    font-size: 1.5rem;
    width: 20rem;
  }
}

@media (max-width: 1015px) {
  .main-heading2,
  .main-heading {
    font-size: 5rem;
  }

  .contact-me--form-container {
    width: 100%;
  }

  .contact-me--form-container form {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .text-field-1 {
    padding-bottom: 1rem;
  }

  .text-field-2 {
    gap: 0.5rem;
    align-self: center;
  }

  textarea {
    font-size: 1.5rem;
    width: 100%;
    height: 15rem;
  }

  .contact-me--form-container input {
    width: 100%;
    height: 2rem;
  }
}

@media (max-width: 74em) {
  .grid--about {
    max-width: 90%;
    column-gap: 15rem;
  }

  .about--desc1::after {
    top: -120%;
    left: 80%;
  }

  .about--desc2::after {
    top: -10%;
    left: 78%;
  }

  .about--desc5::after {
    top: -5%;
    left: 78%;
  }

  .other-proj div {
    overflow-y: scroll;
  }

  .proj-text {
    padding: 2rem;
    top: 70%;
    left: 0%;
  }

  .third-proj:hover .proj-text {
    padding-right: 5rem;
  }

  .proj-text h2 {
    font-size: 1.4rem;
  }

  .proj-text p {
    padding-left: 3rem;
  }
}

@media (max-width: 1088px) {
  .about--desc1::after {
    top: -150%;
  }
  .about--desc2::after {
    top: -20%;
  }
  .about--desc5::after {
    top: -12%;
  }
}

@media (max-width: 1082px) {
  .about--desc1::after {
    top: -155%;
  }
}

@media (max-width: 961px) {
  .grid--2-cols {
    grid-template-columns: 2fr 1.5fr;
    margin: 0 2rem;
    padding-top: 2rem;
  }

  /* .hero--main-intro {
    width: 100%;
    font-size: 2rem;
  } */
  /* 
  h3.hero--intro-1 {
    font-size: 1.2rem;
  }

  /* .hero--img-container {
    justify-self: start;
  } */

  .intro-container {
    padding: 0;
  }

  .img-box {
    width: 50%;
    grid-row: 1/2;
  }

  /* .intro-container {
    width: 40rem;
  } */
}

@media (max-width: 54em) {
  .grid--2-cols {
    grid-template-columns: 2fr 1.5fr;
    margin: 0 2rem;
  }

  .hero--main-intro {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .img-box {
    width: 50%;
    grid-row: 1/2;
  }

  .grid--2-cols {
    padding: 8rem 0;
    margin-left: 5rem;
  }

  h2.hero--intro-2 {
    font-size: 1rem;
  }

  #shape-website {
    font-size: 1rem;
  }

  #name-bold {
    font-size: 4rem;
  }

  #profpic {
    width: 100%;
  }

  .hero--intro-1 {
    font-size: 1.4rem;
  }

  .hero--social-links svg {
    height: 20px;
    width: 20px;
  }

  .intro-text {
    gap: 1rem;
  }

  .intro-sub-text {
    width: auto;
  }

  .about--desc1::after {
    top: -165%;
    left: 80%;
  }

  .about--desc2::after {
    top: -20%;
    left: 70%;
  }

  .about--desc5::after {
    top: -13%;
    left: 75%;
  }

  .sub-text {
    font-size: 1rem;
    line-height: 2rem;
  }

  .grid--about {
    max-width: 100%;
    column-gap: 5rem;
  }

  .main-heading,
  .main-heading2 {
    font-size: 4.5rem;
  }

  .projects--container {
    padding-top: 20;
  }

  .grid--projects {
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr;
  }

  .projects--heading {
    grid-row: 1/2;
    align-self: center;
  }

  .projects {
    grid-row: 2/3;
  }

  .other-projects {
    grid-row: 3;
    grid-column: 1;
  }
}

@media (max-width: 48em) {
  .about--desc1::after {
    top: -200%;
    left: 80%;
  }
}

@media (max-width: 26em) {
  .contact-me--grid {
    max-width: 100%;
    margin: 0;
  }
  .contact-me--form-container {
    margin: 0 0;
    width: 30rem;
  }

  .intro-sub-text {
    width: 30%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero--intro-1 {
    font-size: 1.5rem;
    line-height: 5.5rem;
  }

  .hero--main-intro {
    padding: 1rem;
  }

  .hero-intro-2 {
    font-size: 0.2rem;
  }

  .hero--btns {
    flex-direction: column;
  }

  .grid--2-cols {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }

  .intro-text {
    gap: 0rem;
  }
  .intro-container {
    max-width: 100%;
  }

  .intro-sub-text {
    margin-top: 2rem;
  }

  .hero--intro-1 {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  h2.hero--intro {
    font-size: 1rem;
  }

  .hero--img-container {
    padding-left: 2.5rem;
    order: -1;
    margin: 2rem;
    width: 100%;
  }

  .hero--btns {
    flex-direction: row;
    align-self: center;
  }

  .hero--social-links {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  #name-bold {
    font-size: 3.9rem;
  }

  .sub-text {
    font-size: 1rem;
    line-height: 2rem;
  }

  .intro-sub-text {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }

  .grid--about {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    row-gap: 1rem;
  }

  .btn {
    font-size: 1rem;
  }

  .about--desc1::after {
    display: none;
  }
  .about--desc2::after {
    display: none;
  }
  .about--desc5::after {
    display: none;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  .desc-first {
    font-size: 2.5rem;
  }

  .main-heading,
  .main-heading2 {
    font-size: 4rem;
  }

  .about--container {
    padding: 9rem 0;
  }

  .about--desc3 {
    grid-row: 3/4;
  }

  .about--desc6 {
    grid-row: 6/7;
  }

  .about--desc3,
  .about--desc2,
  .about--desc5 {
    margin-bottom: 3rem;
  }

  .desc {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  .desc-first {
    font-size: 2rem;
  }

  .about--img1::after,
  .about--img2::after {
    top: 30%;
    left: 70%;
  }

  .projects--container {
    height: auto;
  }

  .projects--heading {
    grid-row: 2/3;
  }

  .main-heading2 {
    font-size: 4rem;
  }
  .grid--projects {
    grid-template-rows: 1fr 1fr 10fr auto;
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 3/4;
  }

  .other-projects {
    grid-row: 4/5;
    grid-column: 1/-1;
  }

  .first-proj,
  .second-proj,
  .third-proj {
    overflow: hidden;
  }

  .second-proj:hover,
  .first-proj:hover,
  .third-proj:hover {
    transform: none;
    filter: grayscale(0);
    z-index: 5;
  }

  .proj-text {
    top: 70%;
    left: 0%;
    align-items: start;
    padding-left: 2rem;
  }

  .proj-text h2 {
    font-size: 1.6rem;
  }

  .proj-text p {
    font-size: 1rem;
  }

  .first-proj:hover .proj-text,
  .second-proj:hover .proj-text,
  .third-proj:hover .proj-text {
    filter: none;
    transform: none;
    top: 40%;
    left: 0%;
  }

  .first-proj:hover .proj-text,
  .third-proj:hover .proj-text,
  .second-proj:hover .proj-text {
    /* padding-left: 3rem; */
  }

  .third-proj:hover .proj-text {
    padding-right: 6rem;
  }

  .skills--grid {
  }

  .skills--container {
    padding: 10rem 0 0 0;
  }
  .skill-box--grid {
    max-height: 100%;
    /* gap: 1rem; */
  }
  .skill-box {
    max-width: 40%;
    max-height: 10%;
  }

  .contact-me--form-container {
    width: 95%;
  }

  .footer--links h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 25em) {
  #name-bold {
    font-size: 3.3rem;
  }

  h2.hero--intro {
    font-size: 0.9rem;
  }

  .hero--intro-1 {
    font-size: 1rem;
  }
}

@media (max-width: 23em) {
  #name-bold {
    font-size: 3rem;
  }

  .hero--intro-1 {
    font-size: 1rem;
  }

  .main-heading {
    font-size: 3rem;
  }
}
